<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Data Source=SQL5101.site4now.net;Initial Catalog=DB_A6DCC7_MFareed;User Id=DB_A6DCC7_MFareed_admin;Password=fared0312465314"/>
  </connectionStrings>
  <!--
  on server
  <connectionStrings>
<add name="ApplicationServices" connectionString="Data Source=SQL7002.site4now.net;Initial Catalog=DB_A41227_rrDB;User Id=DB_A41227_rrDB_admin;Password=najla123;" providerName="System.Data.SqlClient" />
   
 <add name="ConnectionString" connectionString="Data Source=SQL7002.site4now.net;Initial Catalog=DB_A41227_rrDB;User Id=DB_A41227_rrDB_admin;Password=najla123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  -->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <sessionState mode="InProc" cookieless="false" timeout="1440"/>
    <!--This will handle requests up to 1024MB (1GB)-->
    <httpRuntime maxRequestLength="104857600" executionTimeout="3600"/>
  </system.web>
  <!-- IIS Specific Targeting (noted by the system.webServer section) -->
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- This will handle requests up to 1024MB (1GB) -->
        <requestLimits maxAllowedContentLength="1048576000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>