<?xml version="1.0"?>
<configuration>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>

    <!--This will handle requests up to 1024MB (1GB)-->
    <httpRuntime maxRequestLength="104857600" executionTimeout="3600" />

  </system.web>

  <!-- IIS Specific Targeting (noted by the system.webServer section) -->
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- This will handle requests up to 1024MB (1GB) -->
        <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>
